@model IEnumerable<SistemaGestionReserva.Models.Sala>

@{
    ViewBag.Title = "Salas";
}

<h2>Listado de salas existentes</h2>

<p>
    @Html.ActionLink("Nuevo", "Crear")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disponibilidad)
        </th>
        <th></th>
    </tr>

    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Disponibilidad)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.Id }) |
                    @Html.ActionLink("Ver", "Detalles", new { id = item.Id }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
